# maven ignore
target/
output/
bin/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz
.springBeans

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig
